body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  letter-spacing: 0.05em;

  background-color: white;
}
.width_70 {
  width: 70%;
  margin: 0 auto;
}
.width_80 {
  width: 80%;
  margin: 0 auto;
}
.width_95 {
  width: 95%;
  margin: 0 auto;
}

.header_fix {
  line-height: 80px;
  height: 80px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;

}
.header_fix nav {
  text-align: right;
}
.header_fix nav li {
  display: inline;
  list-style: none;
  padding-left: 10px;
}
.header_fix nav li a {
  text-decoration: none;
  letter-spacing: .1em;
  color: black;
  font-size: 70%;
}

.jumbotron {
  margin-top: 80px;
  background-image: url(../img/hero-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  position: relative;
}
.jumbotron .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  color: white;
  text-align: center;
}
.jumbotron .container h1 {
  font-size: 300%;
  font-weight: 500;
}
.jumbotron .container p {
  margin: 15px 0;
}

main .monopattini {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  border-radius: 5px;
}
main .monopattini .width_95 {
  background-color: #fafafa;
  padding: 50px;
}
main .monopattini h2 {
  font-weight: 500;
}
main .monopattini p {
  margin: 15px 0;
}
main .monopattini a {
  display: block;
  margin-bottom: 20px;
  color: blue;
  text-decoration: none;
}
main .monopattini img {
  height: 400px;
}
