body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  letter-spacing: 0.05em;

  background-color: white;
}
.width_70 {
  width: 70%;
  margin: 0 auto;
}
.width_80 {
  width: 80%;
  margin: 0 auto;
}
.width_95 {
  width: 95%;
  margin: 0 auto;
}

.lg-display_none {
  display: none;
}

header .header_fix {
  line-height: 80px;
  height: 80px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}
header .header_fix nav {
  text-align: right;
}
header .header_fix nav li {
  display: inline;
  list-style: none;
  padding-left: 10px;
}
header .header_fix nav li a {
  text-decoration: none;
  letter-spacing: .1em;
  color: black;
  font-size: 70%;
}
header .header_fix i {
  font-size: 200%;
  line-height: 80px;
  padding-left: 30px;
}

header .jumbotron {
  margin-top: 80px;
  background-image: url(../img/hero-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  position: relative;
}
header .jumbotron .container {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  color: white;
  text-align: center;
}
header .jumbotron .container h1 {
  font-size: 300%;
  font-weight: 500;
}
header .jumbotron .container p {
  margin: 15px 0;
}

main .monopattini {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  border-radius: 5px;
}
main .monopattini .width_95 {
  background-color: #fafafa;
  padding: 50px;
}
main .monopattini h2 {
  font-weight: 500;
}
main .monopattini p {
  margin: 15px 0;
}
main .monopattini a {
  display: block;
  margin-bottom: 20px;
  color: blue;
  text-decoration: none;
}
main .monopattini img {
  width: 50%;
  /* height: 400px; */
}

main .signore .foto_signore img {
  width: 100%;
}
main .signore .container [class*="col-"] {
  margin-top: 50px;
  margin-bottom: 50px;
  height: 30vh;
  position: relative;
}
main .signore .container [class*="col-"] div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}
main .signore .container img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 500px;
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  .header_fix .container {
    width: 100%;
  }
  header .jumbotron .container h1 {
    font-size: 2em;
  }
  .header_fix .logo {
    padding-left: 10px;
  }
  .md-display_block {
    display: block;
  }
  .md-display_none {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header_fix .container {
    width: 100%;
  }
  header .jumbotron .container h1 {
    font-size: 2em;
  }
  .header_fix .logo {
    padding-left: 10px;
  }
  .xs-display_block {
    display: block;
  }
  .xs-display_none {
    display: none;
  }
}
